/* Tag styles */
body {
  @apply bg-indigo-100 font-sans;
  background-image: url('../img/pattern.png');
}

.picture {
  @apply mx-auto p-4;
}

.logo {
  @apply mx-auto;
  padding: 0;
}

input,
select {
  @apply w-48 rounded bg-blue-100;
}

input {
  @apply px-2 py-1;
}

select {
  @apply px-1 py-2;
}

label {
  @apply min-w-32 inline-block;
}

/* Class styles */
/* (pseudo)layouts */
.grid-container {
  max-width: 1000px;
  @apply grid m-auto;
}

.squared-container {
  @apply border p-8 text-gray-800 bg-indigo-200;
}

.centered-container {
  @apply m-auto text-center pt-8;
}

.page {
  @apply p-6;
}

/* (pseudo)components */
.big-button {
  @apply bg-indigo-400 py-4 w-full mt-8 text-xl rounded-md outline-none text-white;
}

.big-button:focus {
  @apply outline-none;
}

.card {
  @apply m-4 p-4 bg-indigo-300 border border-gray-500;
}

.text-field {
  @apply my-4;
}

/* text stylings */
.error-message {
  @apply text-red-700 font-medium;
}

.secondary {
  @apply text-gray-600;
}

.title {
  @apply text-xl font-bold my-2;
}

/* other */
.bg-pets {
  background-image: url('../img/pets.png');
}
